# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/
*.swp

# Output files - Don't push user drawings
output/*.png
output/*.jpg
!output/.gitkeep

# OS
.DS_Store
Thumbs.db